@model List<PassionProject.Models.Trip>
@{
    ViewBag.Title = "List";
}

<h2>All Trips</h2>
<div><a id="AddTrip" href="/Trip/Add">Add Trip</a></div>
@{
    foreach (var trip in Model)
    {
        <span id="updatelink"><a href="/Trip/Update/@trip.TripId">Update</a></span>
        <span id="deletelink"><a href="/Trip/Delete/@trip.TripId">Delete</a></span>
        <div id="div2">
            Trip To : <div><a href="/Trip/Show/@trip.TripId">@trip.Destination.DestinationName </a></div>
            <div>
                Date: <span>@trip.TripDate </span>
            </div>
            
            <div>
                Cost:<span>@trip.TripCost $</span>
            </div>

        </div>


    }
}