@model PassionProject.Models.ViewModels.ShowTrip
@{
    ViewBag.Title = "Show";
}
<!---code referenced from https://github.com/christinebittle/PetGroomingMVC
for the purpose of class assignment , dated 19 February, 2020 for Passion Project-->
<h2>Show</h2>

<div>Name : @Model.trip.TripId</div>
<!--here i can show many to many relation by displaying trip and can add traveler to that trip-->
