@model PassionProject.Models.ViewModels.ShowTrip
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>Name : @Model.trip.TripId</div>
<!--here i can show many to many relation by displaying trip and can add traveler to that trip-->

