@{
    ViewBag.Title = "Add";
}

<h2>Add Species </h2>
<!--this form on submit goes to controller Species and look for method Add followed by [httppost]-->
<form method="POST" action="/Species/Add">
    
    <div><span>Name:</span><input id="Name" type="text" name="Name" /></div>
    <div>

        <span>Species:</span>

    </div>

    <input type="submit" value="Add Species">
</form>
