@{
    ViewBag.Title = "Add";
}

<h2>Add Species </h2>
<form method="POST" action="/Species/Add">
    <!-- TODO: format this nicely -->
    <div><span>Name:</span><input id="Name" type="text" name="Name" /></div>
    <div>

        <span>Species:</span>

    </div>

    <input type="submit" value="Add Species">
</form>
