@model List<PetGrooming.Models.Species>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<!--this is link to go to view add-->
<a href="/Species/Add">Add Species</a>

@{
    foreach (var species in Model)
    {
        <div>
            <!--on clicking the name of the pet opens up show page and show the details-->
            <span><a href="/Species/Show/@species.SpeciesID">@species.Name</a></span>
            <!--when clicked opens up update view for the pet associated with the click-->
            <span><a href="/Species/Update/@species.SpeciesID">Update</a></span>
            <!--delete by going to controller and delete function-->
            <span><a href="/Species/Delete/@species.SpeciesID">Delete</a></span>

        </div>
    }
}
