@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Update";
}

    <h2>Update Species </h2>
Species name : @Model.Name
    <form method="POST" action="/Species/Update/@Model.SpeciesID">
        <!-- TODO: format this nicely -->
        <div><span>Species Name:</span><input id="Name" type="text" name="Name" value="@Model.Name" /></div>
        

        <input type="submit" value="Update Species">
    </form>