
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form method="POST" action="/Destination/Add">

    <div><span>Name:</span><input id="DestinationName" type="text" name="DestinationName" /></div>
   

    <input type="submit" value="Add Destination">
</form>
