@model List<PassionProject.Models.Destination>
@{
    ViewBag.Title = "Destination";
}

<h2>Destinations</h2>
<a href="/Destination/Add">Add Destination</a>
@{
    foreach (var destination in Model)
    {
        <div id="divlist">

            <span>@destination.DestinationName</span>

            <span id="deletelink"><a href="/Destination/Delete/@destination.DestinationId">Delete</a></span>
            <span id="updatelink"><a href="/Destination/Update/@destination.DestinationId">Update</a></span>

        </div>
    }
}

