
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<!--here when the update is clicked in list file,it takes that id where the clicked update is assciated with,
    and when reaches to controller update shows the name of the destination here after running the query in update method
    in the controller-->
Destination:@Model.DestinationName
<form method="POST" action="/Destination/Update/@Model.DestinationId">

    <div><span>Name:</span><input id="Name" type="text" name="DestinationName" value="@Model.DestinationName" /></div>

    <!--when update is clicked it execute the code inside the controller update followed by httpost-->
    <input type="submit" value="Update Destination">
</form>

